{% load i18n %}

{% block subject %}
{% blocktrans %}Resetare Parola{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %} Ati primit acest e-mail deoarece ati solicitat resetarea parolei pentru contul dumneavoastra. In cazul in care v-ati razgandit sau nu ati facut o solicitare, ignorati acest mesaj!{% endblocktrans %}

{% trans "Apasati butonul de mai jos pentru resetarea parolei: " %}
<p>
    <a href="{{ protocol }}://localhost:3000/{{ url }}">
        <button style="border: 10px; background-color: #218548; padding: 14px; border-radius: 8px; color:white  ">
            Resetare parola
        </button>
    </a>
</p>

{% trans "Va multumim!" %}

{% blocktrans %}Echipa La Piata{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Ati primit acest e-mail deoarece ati solicitat resetarea parolei pentru contul dumneavoastra. In cazul in care v-ati razgandit sau nu ati facut o solicitare, ignorati acest mesaj!{% endblocktrans %}</p>

<p>{% trans "Apasati butonul de mai jos pentru resetarea parolei: " %}</p>
<p>
    <a href="{{ protocol }}://localhost:3000/{{ url }}">
        <button style="border: 10px; background-color: #218548; padding: 14px; border-radius: 8px; color:white  ">
            Resetare parola
        </button>
    </a>
</p>

<p>{% trans "Va multumim!" %}</p>

<p>{% blocktrans %}Echipa La Piata{% endblocktrans %}</p>
{% endblock html_body %}
