{% load i18n %}

{% block subject %}
{% blocktrans %} La Piata - Parola a fost schimbata cu succes{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Parola dumneavoastra a fost schimbata!" %}

{% trans "Va multumim!" %}

{% blocktrans %}Echipa La Piata{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Parola dumneavoastra a fost schimbata!" %}</p>

<p>{% trans "Va multumim!" %}</p>

<p>{% blocktrans %}Echipa La Piata{% endblocktrans %}</p>
{% endblock html_body %}
